@use "../sass/all";

button {
  border: none;
  border-radius: all.$borderRadiusMedium;
  cursor: pointer;
  font-size: 2em;
  padding: all.$spaceSmall all.$spaceLarge;

  @include all.hover-cta;
}

.slow-pulse {
  opacity: 0;
  animation: slow-pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes slow-pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
