[submodule "mollyandisaacsittinginatree"]
	path = mollyandisaacsittinginatree
	url = git@github.com:irothenbaum/mollyandisaacsittinginatree.git
[submodule "wordle"]
	path = wordle
	url = git@github.com:irothenbaum/wordle-clone.git
[submodule "mehmoh"]
	path = mehmoh
	url = git@github.com:irothenbaum/mehmoh.git
[submodule "game-clock"]
	path = game-clock
	url = https://github.com/irothenbaum/game-clock
[submodule "premove"]
	path = premove
	url = git@github.com:irothenbaum/premove.git
