[submodule "mehmoh"]
	path = mehmoh
	url = git@github.com:irothenbaum/mehmoh.git
[submodule "game-clock"]
	path = game-clock
	url = https://github.com/irothenbaum/game-clock
[submodule "premove"]
	path = premove
	url = git@github.com:irothenbaum/premove.git
[submodule "quate"]
	path = quate
	url = git@github.com:irothenbaum/quate.git
