@use "./constants";

$fontFamilyTitle: "Lexend", sans-serif;
$fontFamilyBody: "Lexend", sans-serif;
$fontFamilyMono: "Space Mono", monospace;

$fontWeightExtraLight: 100;
$fontWeightLight: 200;
$fontWeightMedium: 300;
$fontWeightBold: 700;
$fontWeightExtraBold: 900;

$lineHeightBody: 1.5em;
$lineHeightTitle: 1em;

$fontSize1: 3rem;
$fontSize2: 2rem;
$fontSize3: 1.4rem;
$fontSize4: 1rem;
$fontSize5: 0.8rem;

@mixin bodyText {
  font-family: $fontFamilyBody;
  font-size: $fontSize4;
  font-weight: $fontWeightMedium;
  line-height: $lineHeightBody;
}

@mixin titleText {
  font-family: $fontFamilyTitle;
  font-weight: $fontWeightExtraLight;
  font-size: $fontSize1;
  line-height: $lineHeightTitle;
}

@mixin subtitleText {
  font-family: $fontFamilyTitle;
  font-weight: $fontWeightLight;
  font-size: $fontSize2;
  line-height: $lineHeightTitle;
}

@mixin headerText {
  font-family: $fontFamilyBody;
  font-weight: $fontWeightBold;
  font-size: $fontSize3;
  line-height: $lineHeightBody;
}

