@use "./constants";

$fontFamilyTitle: "Lexend", sans-serif;
$fontFamilyBody: "Lexend", sans-serif;
$fontFamilyMono: "Space Mono", monospace;

$fontWeightExtraLight: 100;
$fontWeightLight: 200;
$fontWeightMedium: 300;
$fontWeightBold: 700;
$fontWeightExtraBold: 900;

$lineHeightBody: 1.5em;
$lineHeightTitle: 1em;

$fontSize1: 3rem;
$fontSize2: 2rem;
$fontSize3: 1.4rem;
$fontSize4: 1rem;
$fontSize5: 0.8rem;

@mixin bodyText {
  font-family: var(--fontFamilyBody);
  font-size: var(--fontSize4);
  font-weight: var(--fontWeightMedium);
  line-height: var(--lineHeightBody);
}

@mixin titleText {
  font-family: var(--fontFamilyTitle);
  font-weight: var(--fontWeightExtraLight);
  font-size: var(--fontSize1);
  line-height: var(--lineHeightTitle);
}

@mixin subtitleText {
  font-family: var(--fontFamilyTitle);
  font-weight: var(--fontWeightLight);
  font-size: var(--fontSize2);
  line-height: var(--lineHeightTitle);
}

@mixin headerText {
  font-family: var(--fontFamilyBody);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSize3);
  line-height: var(--lineHeightBody);
}

