#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
#hero h1, #hero h2 {
  width: 100%;
  display: block;
  text-shadow: 1px 2px 4px black;
}
#hero h1 {
  font-size: 72px;
  font-weight: 100;
  margin-bottom: 80px;
}
#hero h2 {
  font-size: 36px;
  font-weight: 900;
  opacity: 0;
}

#hero-bottom {
  text-align: center;
}

#down-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  animation-duration: 1s;
  animation-name: animate-down;
  animation-iteration-count: infinite;
}
#down-arrow svg {
  width: 100px;
  height: auto;
  color: #fff;
}

#projects-section h2 {
  padding: 40px;
  font-size: 36px;
  font-weight: 100;
}
#projects-section ul {
  list-style: none;
  position: relative;
  overflow: visible;
}
#projects-section ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  overflow: visible;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  #projects-section ul li {
    flex-direction: column;
  }
}
#projects-section ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#projects-section ul li .project-item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  #projects-section ul li .project-item-inner {
    flex-direction: column;
  }
}
#projects-section ul li .project-item-inner > div {
  width: 100%;
}
#projects-section ul li .project-item-inner h3 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 100;
}
#projects-section ul li .project-item-inner .graphic-side {
  z-index: 2;
  width: 100%;
  max-width: 601px;
  margin: 20px;
}
#projects-section ul li .project-item-inner .graphic-side img {
  width: 100%;
}
#projects-section ul li .project-item-inner .text-side {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}
#projects-section ul li .project-item-inner .text-side .text-side-inner {
  padding: 20px;
  position: relative;
  z-index: 10;
  width: 100%;
}
#projects-section ul li .project-item-inner .text-side:before {
  position: absolute;
  margin-top: -50%;
  margin-left: -50%;
  width: 200%;
  height: 0;
  padding-top: 200%;
}
#projects-section ul li .project-item-inner .project-cta-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects-section ul li .project-item-inner .project-cta-container img {
  height: 50px;
}
#projects-section ul li .project-item-inner .project-cta-container img:last-child {
  margin-left: 20px;
}

#math-attack {
  background-image: url("/static/img/math_attack_graphic.svg");
}
#math-attack .text-side-inner, #math-attack:before {
  background-color: rgba(36, 51, 37, 0.95);
}
#math-attack .text-side:before {
  background: #3a6f43;
  background: radial-gradient(circle, #3a6f43 0%, rgba(51, 51, 51, 0) 50%);
}

#wordles-with-friends {
  background-image: url("/static/img/wordles_graphic.svg");
}
#wordles-with-friends .text-side-inner, #wordles-with-friends:before {
  background-color: rgba(58, 55, 36, 0.95);
}
#wordles-with-friends .text-side:before {
  background: #776d2d;
  background: radial-gradient(circle, #776d2d 0%, rgba(51, 51, 51, 0) 50%);
}
@media screen and (max-width: 1024px) {
  #wordles-with-friends .project-item-inner {
    flex-direction: column-reverse !important;
  }
}

#backlit {
  background-color: black;
}
#backlit.light {
  transition: background-color 0.2s ease-out;
  background-color: #e1ffa6;
}
#backlit.light .text-side-inner {
  color: black;
}
#backlit .graphic-side {
  text-align: center;
}
#backlit #backlit-button {
  z-index: 10;
  font-size: 12rem;
  color: #3c4846;
  box-shadow: 0 0 0 0 white;
}
#backlit #backlit-button:hover {
  transition: box-shadow 0.1s 0.05s ease-out;
  color: white;
  text-shadow: 0 0 20px white, 0 0 80px white;
}

#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer h2 {
  text-align: center;
  font-size: 200px;
  font-weight: 100;
  color: #555;
}
@media screen and (max-width: 1024px) {
  #footer h2 {
    font-size: 120px;
  }
}
@media screen and (max-width: 600px) {
  #footer h2 {
    font-size: 72px;
  }
}
#footer h2 span {
  animation-duration: 5s;
  animation-name: animate-light;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}
#footer h2 span:nth-child(2) {
  animation-delay: 50ms;
}
#footer h2 span:nth-child(3) {
  animation-delay: 100ms;
}
#footer h2 span:nth-child(4) {
  animation-delay: 50ms;
}
#footer > div {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1f1f28;
  padding: 20px;
}
#footer > div a {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  margin-right: 20px;
}
#footer > div a:hover {
  opacity: 0.9;
}
#footer > div a:active {
  opacity: 1;
}

@keyframes animate-down {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes animate-light {
  0% {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  10% {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
  }
  11% {
    color: white;
    text-shadow: 0 0 12px white, 0 0 25px rgba(255, 255, 255, 0.5);
  }
  21% {
    color: #00c8ff;
    text-shadow: 0 0 12px #00c8ff;
  }
  50% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 0.1);
  }
}

/*# sourceMappingURL=portfolio.css.map */
