/* primary */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: "bold";
  src: url("/public/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/public/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "light";
  src: url("/public/fonts/Montserrat-Light.ttf");
}
.vertex-polygon {
  max-width: calc(5 * var(--vertex-diameter));
  width: 100%;
  /*
     0
  2    1
  */
  /*
  0   1

  3   2
   */
  /*
      0
   4     1
    3   2
   */
  /*
     0     1

  5          2

    4     3
   */
}
.vertex-polygon .vertex-polygon-inner {
  position: relative;
  padding-top: 100%;
  width: 100%;
  animation: rotation2 0.4s ease-out;
}
.vertex-polygon .vertex {
  position: absolute;
  cursor: pointer;
}
.vertex-polygon.vp-count-3 .vp-vertex-0 {
  top: 0;
  left: calc(50% - var(--vertex-radius));
}
.vertex-polygon.vp-count-3 .vp-vertex-1 {
  top: calc(100% - var(--vertex-diameter));
  left: calc(100% - var(--vertex-diameter));
}
.vertex-polygon.vp-count-3 .vp-vertex-2 {
  top: calc(100% - var(--vertex-diameter));
  left: 0;
}
.vertex-polygon.vp-count-4 .vp-vertex-0 {
  top: 0;
  left: 0;
}
.vertex-polygon.vp-count-4 .vp-vertex-1 {
  top: 0;
  left: calc(100% - var(--vertex-diameter));
}
.vertex-polygon.vp-count-4 .vp-vertex-2 {
  top: calc(100% - var(--vertex-diameter));
  left: calc(100% - var(--vertex-diameter));
}
.vertex-polygon.vp-count-4 .vp-vertex-3 {
  top: calc(100% - var(--vertex-diameter));
  left: 0;
}
.vertex-polygon.vp-count-5 .vp-vertex-0 {
  top: 0;
  left: calc(50% - var(--vertex-radius));
}
.vertex-polygon.vp-count-5 .vp-vertex-1 {
  top: calc(45% - var(--vertex-radius));
  left: calc(100% - var(--vertex-diameter));
}
.vertex-polygon.vp-count-5 .vp-vertex-2 {
  top: calc(100% - var(--vertex-diameter));
  left: calc(75% - var(--vertex-radius));
}
.vertex-polygon.vp-count-5 .vp-vertex-3 {
  top: calc(100% - var(--vertex-diameter));
  left: calc(25% - var(--vertex-radius));
}
.vertex-polygon.vp-count-5 .vp-vertex-4 {
  top: calc(45% - var(--vertex-radius));
  left: 0;
}
.vertex-polygon.vp-count-6 .vp-vertex-0, .vertex-polygon.vp-count-7 .vp-vertex-0, .vertex-polygon.vp-count-8 .vp-vertex-0 {
  top: 0;
  left: calc(25% - var(--vertex-radius));
}
.vertex-polygon.vp-count-6 .vp-vertex-1, .vertex-polygon.vp-count-7 .vp-vertex-1, .vertex-polygon.vp-count-8 .vp-vertex-1 {
  top: 0;
  left: calc(75% - var(--vertex-radius));
}
.vertex-polygon.vp-count-6 .vp-vertex-2, .vertex-polygon.vp-count-7 .vp-vertex-2, .vertex-polygon.vp-count-8 .vp-vertex-2 {
  top: calc(50% - var(--vertex-radius));
  left: calc(100% - var(--vertex-diameter));
}
.vertex-polygon.vp-count-6 .vp-vertex-3, .vertex-polygon.vp-count-7 .vp-vertex-3, .vertex-polygon.vp-count-8 .vp-vertex-3 {
  top: calc(100% - var(--vertex-diameter));
  left: calc(75% - var(--vertex-radius));
}
.vertex-polygon.vp-count-6 .vp-vertex-4, .vertex-polygon.vp-count-7 .vp-vertex-4, .vertex-polygon.vp-count-8 .vp-vertex-4 {
  top: calc(100% - var(--vertex-diameter));
  left: calc(25% - var(--vertex-radius));
}
.vertex-polygon.vp-count-6 .vp-vertex-5, .vertex-polygon.vp-count-7 .vp-vertex-5, .vertex-polygon.vp-count-8 .vp-vertex-5 {
  top: calc(50% - var(--vertex-radius));
  left: 0;
}
.vertex-polygon.vp-count-6 .vp-vertex-6, .vertex-polygon.vp-count-7 .vp-vertex-6, .vertex-polygon.vp-count-8 .vp-vertex-6 {
  top: calc(50% - var(--vertex-radius));
  left: calc(50% - var(--vertex-radius));
}
.vertex-polygon.vp-count-8 .vp-vertex-6 {
  top: calc(30% - var(--vertex-radius));
  left: calc(50% - var(--vertex-radius));
}
.vertex-polygon.vp-count-8 .vp-vertex-7 {
  top: calc(70% - var(--vertex-radius));
  left: calc(50% - var(--vertex-radius));
}
.vertex-polygon.collapsed .vertex-polygon-inner {
  animation: rotation1 0.4s ease-out;
}
.vertex-polygon.collapsed .vertex {
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  height: 1em;
  width: 1em;
  box-shadow: none;
}
.vertex-polygon.collapsed .vertex:after, .vertex-polygon.collapsed .vertex:before {
  opacity: 0;
}

@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.vertex {
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.25);
  width: var(--vertex-diameter);
  height: var(--vertex-diameter);
  border-radius: 50%;
  background-color: var(--vertex-color);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-out, background-color 0.2s ease-in-out;
}
.vertex:before, .vertex:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.vertex:before {
  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%, transparent 60%);
}
.vertex:after {
  background-image: radial-gradient(transparent 20%, rgba(0, 0, 0, 0.25) 100%);
}
.vertex.active {
  box-shadow: 0 0 0.5em 0 #00daff;
  background-color: var(--active-color);
}
.vertex.active:after {
  opacity: 0;
}
.vertex.active.secondary {
  box-shadow: 0 0 0.5em 0 #ff9700;
  background-color: var(--secondary-color);
}
.vertex.disabled {
  cursor: not-allowed;
  box-shadow: 0 0 0.5em 0 transparent;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: none;
}
.vertex.disabled:before {
  opacity: 0;
}

html, body {
  scroll-behavior: smooth;
}

#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
#hero h1, #hero h2 {
  width: 100%;
  display: block;
  text-shadow: 1px 2px 4px black;
}
#hero h1 {
  font-size: 72px;
  font-weight: 100;
  margin-bottom: 80px;
}
#hero h2 {
  font-size: 36px;
  font-weight: 900;
  opacity: 0;
}

#hero-bottom {
  text-align: center;
}

#down-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  animation-duration: 1s;
  animation-name: animate-down;
  animation-iteration-count: infinite;
}
#down-arrow svg {
  width: 100px;
  height: auto;
  color: #fff;
}

#projects-summary {
  position: sticky;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}
#projects-summary.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#projects-summary a {
  flex: 2;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
  filter: grayscale(0.6);
}
#projects-summary a:before {
  content: "";
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
#projects-summary a, #projects-summary a:before {
  transition: all 0.2s ease-out;
}
#projects-summary a:hover {
  filter: grayscale(0);
  flex: 3;
}
#projects-summary a:hover:before {
  opacity: 0;
}
#projects-summary a img {
  position: relative;
  z-index: 2;
  height: 100%;
  margin: 0 auto;
}
#projects-summary a#summary-mehmoh {
  background-image: linear-gradient(135deg, #ff9700 -50%, transparent 35%, transparent 65%, #00daff 150%);
  background-color: #303541;
}
#projects-summary a#summary-math-attack {
  background-color: #ffffff;
}
#projects-summary a#summary-wordles-with-friends {
  background-color: rgba(58, 55, 36, 0.95);
}
#projects-summary a#summary-backlit {
  background-color: #1f1f28;
}

#projects-section {
  overflow: hidden;
  width: 100%;
}
#projects-section h2 {
  padding: 40px;
  font-size: 36px;
  font-weight: 100;
}
#projects-section ul {
  list-style: none;
  position: relative;
  overflow: visible;
}
#projects-section ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  overflow: visible;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #projects-section ul li {
    flex-direction: column;
  }
}
#projects-section ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#projects-section ul li .project-item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  #projects-section ul li .project-item-inner {
    flex-direction: column;
  }
}
#projects-section ul li .project-item-inner > div {
  width: 100%;
}
#projects-section ul li .project-item-inner h3 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 100;
}
#projects-section ul li .project-item-inner .graphic-side {
  z-index: 2;
  width: 100%;
  max-width: 601px;
  margin: 20px;
}
#projects-section ul li .project-item-inner .graphic-side img {
  width: 100%;
}
#projects-section ul li .project-item-inner .text-side {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}
#projects-section ul li .project-item-inner .text-side .text-side-inner {
  padding: 20px;
  position: relative;
  z-index: 10;
  width: 100%;
}
#projects-section ul li .project-item-inner .text-side:before {
  position: absolute;
  margin-top: -50%;
  margin-left: -50%;
  width: 200%;
  height: 0;
  padding-top: 200%;
}
#projects-section ul li .project-item-inner .project-cta-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects-section ul li .project-item-inner .project-cta-container img {
  height: 50px;
}
#projects-section ul li .project-item-inner .project-cta-container img:last-child {
  margin-left: 20px;
}

#math-attack {
  background-color: white;
  background-position: center center;
  background-repeat: repeat;
  background-size: 15%;
  background-image: url("/static/img/math_attack_wallpaper.png");
}
#math-attack .graphic-side .math-attack-img-wrapper {
  margin: 0 auto;
  width: 80%;
  padding: 20%;
  background-color: #fcfcfc;
  border-radius: 10%;
  box-shadow: 0 12px 25px -12px #000, inset 0 -8px 20px -12px #000, inset 0 8px 20px 0px #fff;
}
#math-attack:before {
  background: radial-gradient(circle, white 20%, rgba(255, 255, 255, 0.7) 100%);
}
#math-attack .text-side-inner {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
}
#math-attack .text-side-inner h3 {
  font-weight: 900 !important;
  margin-bottom: 40px !important;
}
#math-attack .text-side-inner h3 img {
  width: 120px;
  transform: rotate(-10deg) translate(-10px, 10px);
}

@font-face {
  font-family: "bold";
  src: url("/mehmoh/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "regular";
  src: url("/mehmoh/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "light";
  src: url("/mehmoh/fonts/Montserrat-Light.ttf");
}
#mehmoh {
  --active-color: #00daff;
  --vertex-color: #cdcdcd;
  --secondary-color: #ff9700;
  --vertex-radius: 3em;
  --vertex-diameter: 6em;
  background-color: #303541;
  color: #eeeeee;
}
@media screen and (max-width: 600px) {
  #mehmoh {
    --vertex-radius: 2em;
    --vertex-diameter: 4em;
  }
}
#mehmoh:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.5;
  background-image: linear-gradient(135deg, var(--secondary-color) 0%, transparent 35%, transparent 65%, var(--active-color) 100%);
}
@media screen and (min-width: 2040px) {
  #mehmoh .project-item-inner {
    background-color: #303541;
    box-shadow: 0 0 100px 100px #303541;
  }
}
#mehmoh .text-side h3 {
  font-family: "light";
  font-size: 72px !important;
}
#mehmoh .text-side h3 span {
  color: #00daff;
}
#mehmoh .text-side h3 span.secondary {
  color: #ff9700;
}
#mehmoh .text-side p {
  font-family: "regular";
  font-size: 1.2em;
  line-height: 1.5em;
}
#mehmoh .graphic-side-inner {
  margin: 0 auto;
  padding-top: 70%;
  width: 70%;
  position: relative;
  animation: rotation 5s infinite linear;
}
#mehmoh .graphic-side-inner .vertex {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
#mehmoh .graphic-side-inner .vertex:hover {
  box-shadow: 0 0 0.5em 0 #00daff;
  background-color: var(--active-color);
}
#mehmoh .graphic-side-inner .vertex:hover:after {
  opacity: 0;
}

#wordles-with-friends {
  background-image: url("/static/img/wordles_graphic.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#wordles-with-friends .text-side-inner, #wordles-with-friends:before {
  background-color: rgba(58, 55, 36, 0.95);
}
@media screen and (max-width: 1024px) {
  #wordles-with-friends .project-item-inner {
    flex-direction: column-reverse !important;
  }
}

#backlit {
  background-color: black;
}
#backlit.light {
  transition: background-color 0.2s ease-out;
  background-color: #e1ffa6;
}
#backlit.light .text-side-inner {
  color: black;
}
#backlit .graphic-side {
  text-align: center;
}
#backlit #backlit-button {
  z-index: 10;
  font-size: 12rem;
  color: #3c4846;
  box-shadow: 0 0 0 0 white;
}
#backlit #backlit-button:hover {
  transition: box-shadow 0.1s 0.05s ease-out;
  color: white;
  text-shadow: 0 0 20px white, 0 0 80px white;
}

#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer h2 {
  text-align: center;
  font-size: 200px;
  font-weight: 100;
  color: #555;
}
@media screen and (max-width: 1024px) {
  #footer h2 {
    font-size: 120px;
  }
}
@media screen and (max-width: 600px) {
  #footer h2 {
    font-size: 72px;
  }
}
#footer h2 span {
  animation-duration: 5s;
  animation-name: animate-light;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}
#footer h2 span:nth-child(2) {
  animation-delay: 50ms;
}
#footer h2 span:nth-child(3) {
  animation-delay: 100ms;
}
#footer h2 span:nth-child(4) {
  animation-delay: 50ms;
}
#footer > div {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1f1f28;
  padding: 20px;
}
#footer > div a {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  margin-right: 20px;
}
#footer > div a:hover {
  opacity: 0.9;
}
#footer > div a:active {
  opacity: 1;
}

@keyframes animate-down {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes animate-light {
  0% {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  10% {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
  }
  11% {
    color: white;
    text-shadow: 0 0 12px white, 0 0 25px rgba(255, 255, 255, 0.5);
  }
  21% {
    color: #00c8ff;
    text-shadow: 0 0 12px #00c8ff;
  }
  50% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 0.1);
  }
}
@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}

/*# sourceMappingURL=portfolio.css.map */
