{% include "./default.twig" %}

{% block content %}
    <div id="app">My Portfolio / Resume landing page</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/"></script>
{% endblock %}
