{% extends "./default.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
{% endblock %}

{% block content %}
    <div id="hero">
        <div>
            <h1>404<span>Not Found</span></h1>
        </div>

        <div id="hero-bottom">
            <h2><span id="animate-type">just kidding</span><span class="slow-pulse"></span></h2>
        </div>

        <div id="down-arrow">
            {% include "../../public/img/chevron_down.svg" %}
        </div>
    </div>

    <div id="projects-summary-container">
        <div id="projects-summary" style="min-width: {{ 4 * 120 }}px;">
            <a href="#game-clock" id="summary-game-clock">
                <img alt="game clock logo" src="/game-clock/logo.svg"/>
            </a>
            <a href="#mehmoh" id="summary-mehmoh">
                <img alt="mehmoh logo" src="/mehmoh/logo.svg"/>
            </a>
            <a href="#math-attack" id="summary-math-attack">
                <img alt="math attack logo" src="/static/img/math_attack_icon.png"/>
            </a>
            <a href="#wordles-with-friends" id="summary-wordles-with-friends">
                <img alt="wordles with friends logo" src="/static/img/wordles_graphic.svg"/>
            </a>
            <a href="#backlit" id="summary-backlit">
                <i class="fa fa-lightbulb"></i>
            </a>
        </div>
    </div>

    <div id="projects-section">
        <ul>
            <li id="premove">
                <div class="project-item-inner">
                    <div class="text-side">
                        <div class="text-side-inner">
                            <h3>Premove</h3>
                            <p>
                                A daily challenge game for chess players.
                                Can you clear all the pawns off the board before they promote? You'll have to queue all your moves up front to find out.
                                Play easy, moderate, and hard modes to test your skills and challenge your friends.
                            </p>

                            <div class="project-cta-container">
                                <a target="_blank" href="/premove">
                                    <button>Play</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="graphic-side">

                    </div>
                </div>
            </li>

            <li id="game-clock">
                <div class="project-item-inner">
                    <div class="graphic-side">
                        <div class="game-clock-circle">
                            <div class="game-clock-hand"></div>
                        </div>
                    </div>
                    <div class="text-side">
                        <div class="text-side-inner">
                            <h3>Game Clock</h3>
                            <p>
                                A fully configurable score board to be used at any sporting event.
                                Create custom commands, key bindings, and save templates for easy reuse.
                            </p>

                            <div class="project-cta-container">
                                <a target="_blank" href="/game-clock">
                                    <button>Get started</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="mehmoh">
                <div class="project-item-inner">
                    <div class="text-side">
                        <div class="text-side-inner">
                            <h3>m<span>e</span>h<br/>m<span class="secondary">o</span>h</h3>
                            <p>
                                Challenge your memory with this flexible web game.<br />
                                Simon's got nothing on this.
                            </p>

                            <div class="project-cta-container">
                                <a target="_blank" href="/mehmoh">
                                    <button>Play</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="graphic-side">
                        <div class="graphic-side-inner">
                            <div class="vertex-polygon vp-count-5">
                                <div class="vertex vp-vertex-0"></div>
                                <div class="vertex vp-vertex-1"></div>
                                <div class="vertex vp-vertex-2"></div>
                                <div class="vertex vp-vertex-3"></div>
                                <div class="vertex vp-vertex-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="math-attack">
                <div class="project-item-inner">
                    <div class="graphic-side">
                        <div class="math-attack-img-wrapper">
                            <img alt="math attack logo" src="/static/img/math_attack_icon.png" />
                        </div>
                    </div>

                    <div class="text-side">
                        <div class="text-side-inner">
                            <h3>math,<img alt="ATTACK!" src="/static/img/math_attack_typeform.svg" /></h3>
                            <p>
                                Train your brain with this simple math app.
                                <br />
                                <br />
                                6 game modes: <br /><br />
                                &nbsp;&nbsp;1. Classic<br />
                                &nbsp;&nbsp;2. Marathon<br />
                                &nbsp;&nbsp;3. Estimation<br />
                                &nbsp;&nbsp;4. Crescendo<br />
                                &nbsp;&nbsp;5. Versus<br />
                                &nbsp;&nbsp;6. Fractions<br />
                                &nbsp;&nbsp;+ A bonus Daily Challenge!<br />
                            </p>
                            <div class="project-cta-container">
                                <a target="_blank" href="{{ mathAttackPlayStore }}">
                                    <img alt="Play store button" src="/static/img/google_play_badge.png"/>
                                </a>

                                <a target="_blank" href="{{ mathAttackAppStore }}">
                                    <img alt="App store button" src="/static/img/app_store_badge.svg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="wordles-with-friends">
                <div class="project-item-inner">
                    <div class="text-side">
                        <div class="text-side-inner">
                            <h3>Wordles with Friends</h3>
                            <p>
                                A new twist on the viral word-guessing game Wordle.
                                <br />
                                <br />
                                &nbsp;&nbsp;- No daily limit<br />
                                &nbsp;&nbsp;- Words of 5, 6, 7, and 8 length<br />
                                &nbsp;&nbsp;- Wordle-reverse game mode<br />
                                &nbsp;&nbsp;- Versus mode<br />
                            </p>

                            <div class="project-cta-container">
                                <a target="_blank" href="/wordles-with-friends">
                                    <button>Play</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="graphic-side">
                        <img alt="wordles with friends logo" src="/static/img/wordles_graphic.svg" />
                    </div>
                </div>
            </li>

            <li id="backlit">
                <div class="project-item-inner">
                    <div class="graphic-side">
                        <a target="_blank" href="/backlit">
                            <i id="backlit-button" class="fa fa-lightbulb"></i>
                        </a>
                    </div>
                    <div class="text-side">
                        <div class="text-side-inner">
                            <h3>Back-Lit</h3>
                            <p>
                                Use your second monitor as a color light corrector for your zoom calls
                                <br />
                                <br />
                                &nbsp;&nbsp;- Curated color palette<br />
                                &nbsp;&nbsp;- Simple interface<br />
                                &nbsp;&nbsp;- Use on Desktop or Mobile<br />
                            </p>

                            <div class="project-cta-container">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div id="footer">
            <h2>
                <span>&bull;</span>
                <span>&bull;</span>
                <span><i class="fa-solid fa-code-commit"></i></span>
                <span>&bull;</span>
                <span>&bull;</span>
            </h2>
            <div id="footer-items">
                <a href="https://github.com/irothenbaum" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/isaacrothenbaum" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/static/js/portfolio.js"></script>
{% endblock %}
