{% extends "./default.twig" %}

{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/app-files/wordles-with-friends/bundle.{{ appVersion }}.js"></script>
{% endblock %}

{% block styles %}{% endblock %}
