@use "reset.css";
@use './typography';
@forward "./variables";
@forward "./layout";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/*
--------------------------------------------------------------------
UNIVERSAL BOX SIZING
--------------------------------------------------------------------
*/

*, *:before, *:after {
  box-sizing: border-box;
}


html,body {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
  color: var(--color-text);
  background-color: var(--color-page-bg);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  @include typography.body-text();
}

