@use './sass/all';

$navBG: all.$darkGrey;

$navWidth: 240px;
$fileMenuHeight: 2.5rem;

#window {
  display: grid;
  gap: 0;
  grid-template-areas:
    "bar bar"
    "nav content";
  grid-template-columns: $navWidth 1fr;
    grid-template-rows: $fileMenuHeight 1fr;
  height: 100%;
  width: 100%;
  background-color: all.$black;
}

#menu-bar {
  height: $fileMenuHeight;
  background-color: $navBG;
  grid-area: bar;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid all.$nearBlack;
  user-select: none;

  $logoHeight: $fileMenuHeight * 0.5;
  img {
    margin:0 all.$spaceExtraSmall;
    width: $logoHeight;
    height: $logoHeight;
  }

  div {
    padding:0 all.$spaceSmall;
    color: all.$nearWhite;
    background-color: transparent;
    transition: all all.$transitionTiming;
    height: $fileMenuHeight;
    line-height: $fileMenuHeight;
    cursor: pointer;

    &:hover {
      background-color: all.$sunbeamExtraSoft;
    }
  }
}

#navigation {
  flex-shrink: 0;
  width: $navWidth;
  background-color: $navBG;
  height: 100%;
  padding: all.$spaceExtraSmall;
  grid-area: nav;
  line-height: 2em;
  border-right: 1px solid all.$nearBlack;
  user-select: none;

  .folder, .file {
    cursor: pointer;
    span {
      display: block;

      color: all.$nearWhite;

      &:before {
        content: "";
        display: inline-block;
        background-image: url("../images/folder.svg");
        height: all.$fontSize4;
        width: all.$fontSize4;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: all.$spaceExtraSmall;
      }
    }
  }

  .file {
    &.page span:before {
      background-image: url("../images/file_page.svg");
    }

    &.project span:before {
      background-image: url("../images/file_project.svg");
    }

    &.game span:before {
      background-image: url("../images/file_game.svg");
    }
  }

  .folder {
    padding-left: 1.1rem;
    position: relative;

    &:before {
      color: all.$lightGrey;
      font-size: all.$fontSize3;
      content: "+";
      display: block;
      line-height: 1.1em;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .nav-item {
    &.open {
      & > .folder:before {
        content: "-";
      }
      & > .directory {
        display: block;
      }
    }
  }

  .directory {
    padding-left: all.$spaceLarge;
    margin-bottom: all.$spaceExtraSmall;
    display: none;
  }
}

#content {
  width: 100%;
  height: 100%;
  background-color: all.$nearBlack;
  grid-area: content;
}


.breadcrumbs {
  background-color: $navBG;
  border-bottom: 1px solid all.$nearBlack;
  color: all.$lightGrey;
  padding: all.$spaceExtraSmall all.$spaceMedium;
  font-size: all.$fontSize5;
  user-select: none;

  .path-item {
    &:after {
      content: "/";
      margin: 0 all.$spaceSmall;
      opacity: 0.5;
    }

    &:last-child:after {
      content: "";
    }
  }
}
