@use './sass/all';

$navWidth: 240px;
$fileMenuHeight: 2.5rem;

//#render-cover {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-color: var(--black);
//  z-index: 1000;
//  opacity: 1;
//  transition: opacity var(--transitionTiming);
//
//  &.fade-out {
//    opacity: 0;
//  }
//}

#window {
  color: var(--nearWhite);
  display: grid;
  gap: 0;
  grid-template-areas:
    "bar bar"
    "nav content";
  grid-template-columns: $navWidth 1fr;
    grid-template-rows: $fileMenuHeight 1fr;
  height: 100%;
  width: 100%;
  background-color: var(--black);
}

#menu-bar {
  height: $fileMenuHeight;
  background-color: var(--darkGrey);
  grid-area: bar;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--nearBlack);
  user-select: none;

  $logoHeight: $fileMenuHeight * 0.5;
  img {
    margin:0 var(--spaceExtraSmall);
    width: $logoHeight;
    height: $logoHeight;
  }

  div {
    padding:0 var(--spaceSmall);
    color: var(--nearWhite);
    background-color: transparent;
    transition: all var(--transitionTiming);
    height: $fileMenuHeight;
    line-height: $fileMenuHeight;
    cursor: pointer;

    &:hover {
      background-color: var(--sunbeamExtraSoft);
    }
  }
}

#navigation {
  flex-shrink: 0;
  width: $navWidth;
  background-color: var(--darkGrey);
  height: 100%;
  padding: var(--spaceExtraSmall);
  grid-area: nav;
  line-height: 2em;
  border-right: 1px solid var(--nearBlack);
  user-select: none;

  .folder, .file {
    cursor: pointer;
    span {
      display: block;

      color: var(--nearWhite);

      &:before {
        content: "";
        display: inline-block;
        background-image: url("../images/folder.svg");
        height: var(--fontSize4);
        width: var(--fontSize4);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: var(--spaceExtraSmall);
      }
    }
  }

  .file {
    &.page span:before {
      background-image: url("../images/file_page.svg");
    }

    &.project span:before {
      background-image: url("../images/file_project.svg");
    }

    &.game span:before {
      background-image: url("../images/file_game.svg");
    }
  }

  .folder {
    padding-left: 1.1rem;
    position: relative;

    &:before {
      color: var(--lightGrey);
      font-size: var(--fontSize3);
      content: "+";
      display: block;
      line-height: 1.1em;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .nav-item {
    &.open {
      & > .folder:before {
        content: "-";
      }
      & > .directory {
        display: block;
      }
    }
  }

  .directory {
    padding-left: var(--spaceLarge);
    margin-bottom: var(--spaceExtraSmall);
    display: none;
  }
}

#content {
  width: 100%;
  height: 100%;
  background-color: var(--nearBlack);
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.breadcrumbs {
  flex:0;
  width: 100%;
  background-color: var(--darkGrey);
  border-bottom: 1px solid var(--nearBlack);
  color: var(--lightGrey);
  padding: var(--spaceExtraSmall) var(--spaceMedium);
  font-size: var(--fontSize5);
  user-select: none;

  .path-item {
    &:after {
      content: "/";
      margin: 0 var(--spaceSmall);
      opacity: 0.5;
    }

    &:last-child:after {
      content: "";
    }
  }
}

[data-ide-lines] {
  position: relative;
  width: 100%;
  padding-left: var(--spaceMedium);

  .ide-line-number-container {
    background-color: var(--darkGrey);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--spaceMedium);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ide-line-number {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: var(--lightGrey);
    font-size: var(--fontSize5);
    font-weight: var(--fontWeightMedium);
  }
}
